<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="noindex"/>
    <link rel="canonical" href="http://example.com/"/>

    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="keywords" content="HTML, CSS, JavaScript">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:title" content="{{ self.page_title() }}">
    <meta property="og:description" content="{{ self.meta_description() }}">
    <meta property="og:image" content="https://example.com/asset.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="/static/js/jquery-3.6.3.min.js"></script>
  </body>
</html>